{
    "extends": [
        "eslint:recommended",
        "react-app",
        "prettier",
        "prettier/@typescript-eslint",
        "prettier/react",
        "prettier/standard"
    ],
    "ignorePatterns": ["config/**", "node_modules"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "semi": ["warn", "always"],
        "quotes": ["warn", "double"]
    }
}
