.announcement-container {
    height: 250px !important;
    overflow-y: scroll !important;
    margin-left: 2%;
}

.announcement-container::-webkit-scrollbar {
    display: none;
}

.announcement {
    border-bottom: solid 2px;
    border-bottom-color: #5c4e8e;
}

.coursecode {
    font-size: 18px !important;
    color: #202020;
    font-weight: 1000 !important;
}

.title {
    font-size: 16px !important;
    color: #202020;
    font-weight: 600 !important;
}

.date {
    font-size: 10px;
    font-weight: 500;
    color: #3c519f;
}
