@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import "./Colours.less";

body,
p {
    margin: 0;
    font-family: "Source Sans Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Commissioner", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 24px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#root {
    background-color: #fff;
    overflow-x: hidden;
    min-height: 100vh;
}

#root,
#root ~ .modal {
    .btn-primary {
        background-color: @primary !important;
        border-color: transparent;
        min-height: 46px;
        &:hover {
            background-color: darken(@primary, 10%);
        }
        &:focus {
            background-color: @primary;
            box-shadow: 0 0 0 0.2rem lighten(@primary, 40%);
        }
        &:active {
            background-color: darken(@primary, 10%);
        }
    }

    .btn-secondary {
        background-color: lighten(@primary, 10%);
        &:hover {
            background-color: lighten(@primary, 5%);
        }
        &:focus {
            background-color: @primary;
            box-shadow: 0 0 0 0.2rem lighten(@primary, 50%);
        }
        &:active {
            background-color: lighten(@primary, 5%);
        }
    }

    .btn-sm {
        min-height: 31px;
    }

    .purple-gradient {
        background: linear-gradient(40deg, #986eff, #7873f5) !important;
    }

    .peach-gradient {
        background: linear-gradient(40deg, #ff906f, #fc6262) !important;
    }

    .form-control {
        &:focus {
            border-color: #7973f6;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(121, 115, 246, 0.1);
        }
    }

    .modal-title {
        font-family: "Commissioner", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
            "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }

    .overlay .mask {
        border-radius: 5px;
        svg,
        p {
            color: white;
        }

        svg {
            height: 50%;
            width: 50%;
        }
    }

    .light-outline {
        color: white !important;
        border: 1px solid white !important;
    }
}

.content-loader {
    padding: 20px;
}
