@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import "./Colours.less";

body,
p {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Source Sans Pro",
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif, "Raleway";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 24px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#root {
    background-color: #f1f1f1;
    overflow-x: hidden;
    min-height: 100vh;
}

#root,
#root ~ .modal {
    .btn-primary {
        background-color: @primary;
        border-color: transparent;
        min-height: 38px;
        &:hover {
            background-color: darken(@primary, 10%);
        }
        &:focus {
            background-color: @primary;
            box-shadow: 0 0 0 0.2rem lighten(@primary, 40%);
        }
        &:active {
            background-color: darken(@primary, 10%);
        }
    }

    .btn-secondary {
        background-color: lighten(@primary, 10%);
        &:hover {
            background-color: lighten(@primary, 5%);
        }
        &:focus {
            background-color: @primary;
            box-shadow: 0 0 0 0.2rem lighten(@primary, 50%);
        }
        &:active {
            background-color: lighten(@primary, 5%);
        }
    }

    .btn-sm {
        min-height: 31px;
    }
}

.content-loader {
    padding: 20px;
}
