.custom-switch{
    padding-left: 0!important;
   
}

.custom-control{
    padding-left: 0!important;
   
}

#root{
    margin-top:0;
}



.homepage{
    overflow: hidden;
    height: 100vh;
    
    .no-padding{
        padding: 0!important;
    }

    .content{
        height:100vh;
      
    }

    .left-col{
        background: royalblue;
        float: left;
        height: 100vh !important;
    }

    .right-col{
        background: seagreen;
        float: right;
        height: 100vh !important;
    }
    
    .calander{
        background: darkcyan;
        height: auto !important;
        
    }

    .classes{
        background: rosybrown;
        height: 50vh !important;
    }
    .announcemnts{
        background: red;
        height: 50vh !important;
    }
    .bottom-right{
        background:goldenrod;
        height: 50vh !important;
    }

}

