.chat-container {
    padding: 10px;
    max-width: 400px !important;
    .chat-log-container {
        height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 5px !important;
        .message-container {
            display: inline-block;
            padding: 0 0 0 10px;
            vertical-align: top;
            width: 92%;
            margin-top: 4%;
        }
        .self p {
            text-align: right;
            background-color: rgb(93, 79, 143) !important;
            margin: 0;
            padding: 5px 12px 5px 12px;
            width: 100%;
            color: white;
        }

        .self {
            word-wrap: break-word;
            
            float: right;
            width: 65%;
            margin-left: 40%;
        }
        .log {
            word-wrap: break-word;
            float: left;
            clear: both;
            letter-spacing: 0.5px;
        }
    }
    .log p {
        background-color: white;
        border-radius: 18px;
        width: 100%;
        padding: 5px 10px 5px 12px;
        margin: 0;
    }
    .send-chat {
        margin-top: 5%;
        height: 30px;
        width: 100%;
        border-radius: 22px;
        font-size: 13px;
    }
}

.private-chat {
    .chat-log-container {
        height: 600px;
    }
}

.chat-modal {
    .orb {
        width: 12px;
        height: 12px;
        border-radius: 5px;
        transform: translateY(2px);
    }
    .user-list-container {
        height: 800px;
        overflow-y: auto;
    }
    .user-select {
        padding-bottom: 3px;
        cursor: pointer;
        &:hover {
            background-color: #966fff11;
        }
        img {
            width: 30px;
            height: 30px;
            border-radius: 5px;
        }
        .notification {
            transform: translateY(2px);
        }
        &.selected {
            background-color: #966fff11;
        }
    }
}
