.chat-container {
    .chat-log-container {
        height: 200px;
        overflow-y: auto;
        .self p {
            text-align: right;
        }
    }
}

.private-chat {
    .chat-log-container {
        height: 600px;
    }
}

.chat-modal {
    .orb {
        width: 12px;
        height: 12px;
        border-radius: 5px;
        transform: translateY(2px);
    }
    .user-select {
        padding-bottom: 3px;
        cursor: pointer;
        &:hover {
            background-color: #966fff11;
        }
    }
}
