@import "../styles/Colours.less";

.allocation {
    h5 {
        width: 100%;
    }
    .room-group-container {
        padding-bottom: 10px;
    }
    .room-group-header {
        padding-bottom: 5px;
    }
    .room-group {
        background-color: #f6effa;
        min-height: 50px;
        padding: 20px;
        border-radius: 5px;
    }
    .btn-info {
        background-color: @primary !important;
        border-color: @primary-dark !important;
    }
    .header-row {
        margin-bottom: 10px;
    }
}
