.info-header {
    margin-top: 2%;
    margin-bottom: 2%;
}

.back-button {
    display: inline;
    margin-right: 10%;
    margin-left: 2%;
    text-decoration: none;
    color: black
}

.back-button-icon{
    display: inline;
    margin-left: 2%;
    text-decoration: none;
    color: black
}

.back-button:hover, .back-button-icon:hover{
    color: black;

}
.session-name {
    display: inline;
    font-weight: 600;
   
}
.progress-bar-container{
    display: flex;
    justify-content: flex-end;
}
.start-time{
    display:inline ;
    align-self: center;
}

.end-time{
    display: relative;
    float: right;
    align-self: center;
}

.progress{
    position: relative;
    width: 400px;
    overflow: hidden;
    float: right;
    vertical-align: top;
    background: rgba(125, 114, 116, 30%);
    border-radius: 7.5px;
    margin-right: 5%;
    margin-left: 5%;
    align-self: center;
}

.progress-bar{
    display: flex;
    vertical-align: top;
    background: #756A9F;
    border-radius: 7.5px;
   
}
