.info-header {
    margin-top: 2%;
    margin-bottom: 2%;
}

.back-button {
    display: inline;
    margin-right: 10%;
    margin-left: 2%;
}
.session-name {
    display: inline;
    font-weight: 600;
   
}

.progress{
    position: relative;
    width: 400px;
    overflow: hidden;
    float: right;
    vertical-align: top;
    background: rgba(125, 114, 116, 30%);
    border-radius: 7.5px;
    margin-right: 5%;
}

.progress-bar{
    display: flex;
    vertical-align: top;
    background: #756A9F;
    border-radius: 7.5px;
}
