@import "../styles/Colours.less";

.classroom-container {
    background-color: white;
}

.panel {
    .panel-container {
        width: 100%;
        background-color: @primary;
    }
    .tutors-container {
        min-height: 200px;
    }
    .students-container {
        min-height: 400px;
    }
    .messages-container {
        min-height: 200px;
    }
}

.presenter-container {
    font-family: Raleway;
    height: 100%;
    padding-top: 40%;
    .presenter-name {
        font-family: Raleway;
        font-weight: 600;
        font-size: 25px;
        margin: auto;
        text-align: center;
    }
    .presenter-picture {
        min-width: 100px;
        min-height: 100px;
        width: 12vw;
        height: 12vw;
        margin: auto;
        border-radius: 200px;
        background-color: lightblue;
    }
}

.head-panel {
    background-color: @page-bg;
    padding-top: 1%;
    text-align: center;
    align-items: center;
}

.back-btn {
    color: black;
    &:hover {
        color: white;
    }
}

.room-control button {
    background: transparent;
}

.view-control {
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
}

.setting-icon {
    font-size: 20px;
    margin: 10px 10px 0px 10px;
}
