@import "../styles/Colours.less";

.classroom-container {
    background-color: white;
}

.panel {
    .panel-container {
        width: 100%;
        background-color: @primary;
    }
    .tutors-container {
        min-height: 200px;
    }
    .students-container {
        min-height: 400px;
    }
    .messages-container {
        min-height: 200px;
    }
}
.presenter-container {
    height: 100%;
    background-color: lightpink;
}

.head-panel {
    background-color: @page-bg;
    padding: 25px;
}

.room-control button {
    background-color: @page-bg;
}

.back-button {
    border: none;
    :hover{
        color: grey;
    }
}

.back-button:hover {
    color: grey; 
}

.first-btn {
    border-radius: 15px 0px 0px 15px;    
}

.setting-btn {
    border-radius: 0px;
}

.end-btn {
    border-radius: 0px 15px 15px 0px;
}

.first-btn, .setting-btn, .end-btn {
    background-color: lightgrey !important;
    color: black;
    max-width: 15%;
    &:hover {
        background-color: darken(grey, 10%) !important;
    }
    &:focus {
        background-color: @primary;
        box-shadow: 0 0 0 0.2rem lighten(grey, 40%) !important;
    }
    &:active {
        background-color: darken(grey, 10%) !important;
    }
}