.section-header {
    padding: 15px;
    background: #5d4f8f;
    margin-bottom: 0px !important;
    font-size: 16px !important;
    font-weight: 600;
    color: white;
}

.section-header h6 {
    margin-bottom: 0px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}

.panel-container {
    background: #756a9f !important;
}

.students-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.loader-container {
    padding: 5%;
    background: #5d4f8f;
}

.messages-container {
    background: white;
}
.search-bar {
    width: 100%;
    padding: 0;
    color: white;
    font-size: 1.5em;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
}
.search-bar svg {
    margin: auto;
}

.search-bar input {
    background-color: #5d4f8f;
    border-radius: 22px;
    padding: 5%;
    width: 80%;
    margin: auto;
    height: 30px;
    border-color: #5d4f8f;
    font-size: 13px;
}

.search-bar input:focus {
    background-color: #5d4f8f;
    color: white;
}

.search-bar input::placeholder {
    color: white;
}

.chat-outer-container {
    overflow-x: hidden;
}
