@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Raleway"
}
.navbar{
    background-color: aqua;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    float: right;
    
}

.nav{
    background-color: #372E55;
    width: 261px;
    height: 100vh;
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0%;
}

.menu-bars{
    margin-left: 2rem;
    font-size:1em;
    background: none;
}

.nav-menu{
    background: rgb(124,113,164);
    background: linear-gradient(0deg, rgba(124,113,164,1) 0%, rgba(92,78,142,1) 100%);
    width: 190px;
    height: 90%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 5%;
    border-radius: 24px 0px 0px 24px;
    float: right;
    left: 71px;
    line-height: 15px;

}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px, 0px, 8px, 16px;
    list-style: none;
    height: 60px;
    
}

.nav-text a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    font-weight: bold;
}

.nav-text a:hover{
    background-color: white;
}

.nav-menu-items{
    width: 100%;
}

span{
    margin-left: 16px;
}

