@import "../styles/Colours.less";

nav.on-board-nav {
    width: 100vw;
    height: 50px;
    background: linear-gradient(40deg, #9265ff, #7873f5) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 15;
    .nav-control {
        display: flex;
        justify-content: space-between;
        &.right {
            margin-right: 30px;
            .icon {
                font-size: 24px;
                cursor: pointer;
            }
        }
        .logo-container {
            .logo {
                width: 100px;
                height: 50px;
                background-image: url("../logo_white.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
        .control {
            display: flex;
            margin-left: 40px;
            a {
                color: white;
            }
            .link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 125px;
                margin: 0px 5px;
                padding: 0px 20px;
                .icon {
                    font-size: 20px;
                }
                &.active {
                    background-color: rgba(255, 255, 255, 0.1);
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.15);
                    text-decoration: none;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
    #nav-profile-dropdown .dropdown-toggle {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
        &:hover {
            background-color: rgba(255, 255, 255, 0.15) !important;
        }
        &:focus,
        &:active {
            background-color: rgba(255, 255, 255, 0.15) !important;
        }
    }
    .dropdown-toggle::after {
        content: none;
    }
    .dropdown-item {
        &:active {
            background-color: @primary-dark;
        }
    }
    .dropdown-override {
        & button {
            background-color: @primary-dark;
            border: none;
        }
    }
    .message-modal-button {
        .messages-count-orb {
            position: absolute;
            background: linear-gradient(120deg, #ff4df1 0%, #ff2542 100%);
            right: -5px;
            bottom: -5px;
            height: 20px;
            width: 20px;
            border-radius: 20px;
        }
    }
}
