.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.month-heading {
    width: 100%;
    display: flex;

    .left-chevron {
        margin-right: auto;
    }
    .right-chevron {
        margin-left: auto;
    }
}
