@import "../../styles/Colours.less";

.calendar {
    background-color: @content-bg;
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: auto;
    padding-bottom: 0;
    font-size: 1em;
    text-align: center;
    height: auto;
    width: 100%;
}

.month-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    .heading-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 600px;
        .heading {
            h1 {
                font-size: 24px;
                margin: 0;
            }
        }
    }

    .left-chevron,
    .right-chevron {
        color: #c38699;
        cursor: pointer;
    }
}

.calendar-today-button {
    text-align: center;
    margin-bottom: 20px;
    &a {
        color: black !important;
        text-decoration: none !important;
    }
}

.calendar-date {
    margin: auto;
    padding: 7% 5% 5% 5%;
    line-height: 33px;
    height: 50px;
    width: 50px;
    border: none;
    background: white;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease;

    &.chosen-date {
        background-color: @primary!important;
        color: #fff !important;
        border-radius: 100% !important;
        font-weight: bold !important;
    }

    &.today {
        border: red dashed 1px;
        background-color: white;
        color: red;
        border-radius: 100%;
        font-weight: bold;
    }

    &:hover {
        border-radius: 100%;
        background: #4aa1f3;
        color: white;
        text-decoration: none !important;
    }
}

.upcoming-events {
    background-color: @dark;
    height: 300px;
    padding: 20px 50px;
    margin: 10px 0px;
    border-radius: 10px;
    h1,
    p {
        color: white;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        h1 {
            font-size: 20px;
            font-family: "Source Sans Pro";
        }
    }

    .events-container {
        overflow: auto;
        white-space: nowrap;
        height: 200px;
        .event {
            width: 250px;
            height: 100%;
            display: inline-block;
            color: white;
            text-decoration: none;
            hr {
                width: 60%;
                border-top: 5px solid;
                border-radius: 4px;
            }
            p {
                margin: 0;
            }
        }
    }
}
