.avatar-settings {
    .pfpContainer {
        width: 150px;
        height: 150px;
    }

    .dropContainer {
        outline: none;
        height: 150px;
        width: 150px;
        cursor: pointer;
        border: none;
        position: absolute;
        z-index: 3;
        top: 0px;
    }

    .dropContainer:hover {
        background-color: black;
        opacity: 20%;
    }

    .dropMessage {
        display: none;
    }
}
